html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("../../images/new-york-skyline-usa.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 150vw 50vh;
}

