.close_button {
  position: relative;
  float: right;
  cursor: pointer;
  font-size: 50px !important;
  color: red;
}

.apply_image {
  position: absolute;
  width: 100%;
  height: 90vh;
}

.apply_button {
  background-color: #77071c !important;
  color: white !important;
  letter-spacing: 0.3em !important;
}

.apply_button:hover {
  background-color: #2fb345 !important;
  transition: 1s ease-in-out;
}

.end_end {
  position: relative;
}

.apply_input {
  position: relative;
  border: 1px solid #999;
  border-width: 100%;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}