.end_color {
  background-color: gray   !important;
}

.end_items {
  display: flex;
  justify-content: center;
}

.company_detail {
  display: flex;
  text-align: justify;
  justify-content: center;
}

.social_logo {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
}

@media (max-width: 800px) {
  .company_detail {
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    text-align: center;
  }
}