.card {
  background-color: gray !important;
}

.icons {
  display: inline-block;
}

.social_logo {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
}

.end_text {
  color: white;
}

.end_logo {
  width: auto;
  height: 2rem;
  padding-top: 1rem;
}
