.product_div {
  position: relative;
}

.product_images {
  width: 100%;
  height: 60vh;
}

.paper_product {
  padding: 1rem;
  max-height: max-content;
}

.intro_product {
  position: absolute;
  letter-spacing: 0.2em !important;
  color: white;
  text-align: center;
  font-size: 2rem !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product_title {
  text-align: center;
  letter-spacing: 0.2em !important;
  font-size: 1.2rem !important;
}
.full_product_image {
  top: 0;
  left: 0;
  display: absolute;
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.product_details {
  text-align: justify;
}

.check_icon {
  margin-bottom: -1%;
  margin-right: 3px;
  color: green;
}

.solution {
  background-color: #ccd1d1;
}

.solution_title {
  text-align: center;
  justify-content: center;
  letter-spacing: 0.2em !important;
  font-size: 2rem !important;
}

.solution_image {
  left: 0;
  top: 0;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.technology_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 70%;
}
@media (max-width: 800px) {
  .full_product_image {
    display: block;
    width: 50%;
    height: 20vh;
    margin-left: auto;
    margin-right: auto;
  }
}
