.work_div {
  background-image: url("https://us.123rf.com/450wm/konstantinks/konstantinks1312/konstantinks131200261/24442088-the-star-vector-night-sky-cosmic-background-.jpg?ver=6");
}

.work_text {
  color: white;
  font-size: 3rem !important;
  text-align: center !important;
}

.work_text_1 {
  color: white;
  text-align: center !important;
  font-family: "Times New Roman", Times, serif;
}